<div class="popover is-project-task-menu">
	<div class="popover-header">
		<div class="popover-header__title">{{ __('popovers/project_task_menu.task_menu') }}</div>
		<button type="button" class="[ popover-header__close-button ] btn">&times;</button>
	</div>
	<div class="popover-content">
		<div class="[ popover-list ]">
			<!-- <a href="#" class="[ popover-list-item ]">Cras justo odio</a> -->
			<!-- <a href="#" class="[ popover-list-item ]">Dapibus ac facilisis in</a> -->
			<!-- <a href="#" class="[ popover-list-item ]">Morbi leo risus</a> -->
			<!-- <a href="#" class="[ popover-list-item ]">Porta ac consectetur ac</a> -->
			<!-- <hr class="[ popover-list-separator ]"> -->
			<a href="#" class="[ popover-list-item ] + is-archive">{{ __('popovers/project_task_menu.archive_task') }}</a>
		</div>
	</div>
</div>
