<form class="modal fade"  data-background="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="[ modal__close-button ] btn" data-dismiss="modal">&times;</button>
			<div class="modal-body">
				<p class="text-center">
					Some DOWNLOAD DESKTOP APP text
				</p>
				<p class="text-center">
					<button class="btn btn-primary">Download</button>
				</p>
				<p class="text-right">
					<button type="submit" class="[ modal__confirm-button ] btn btn-primary">Got it!</button>
				</p>
			</div>
		</div>
	</div>
</form>