<form class="modal fade + is-project-task" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="[ modal__close-button ] btn" data-dismiss="modal">&times;</button>
            <div class="modal-body">
                <!-- FIRST PART -->
                <div>
                    <h4>Welcome to the ScreenTrack!</h4>
                    <p>1) Invite your manager to get paid for every minute.</p>
                    <p>2) Add tasks & assign them to yourself</p>
                    <p>3) [Download the tracker app & log in] Opens in a new window</p>
                    <p>4) Select a task & start earning</p>
                    <p><button class="btn btn-primary">GOT IT</button></p>
                </div>
                <!-- / FIRST PART -->

                <!-- SECOND PART -->
                <div>
                    <p>-Earn $150 USD for each referred manager</p>
                    <p>-Earn $100 USD for each referred coworker/freelancer</p>
                    <p>-Earn $50 USD for anyone that THEY refer also.</p>
                    <p><button class="btn btn-primary">GOT IT</button></p>
                </div>
                <!-- / SECOND PART -->

                <!-- THIRD PART -->
                <div>
                    <h4>Welcome to ScreenTrack!</h4>
                    <div class="pl-3">
                        <p>1) Click PLUS to Invite your team members</p>
                        <p>2) Add tasks & assign them to users</p>
                        <p>3) Ask Them to [Download the tracker app & log in] Opens in a new window</p>
                        <p>4) Tell Them to pick a task & start tracking</p>
                        <p>5) Click on a user to see their timeline with live screenshots & activity</p>
                    </div>
                    <p><button class="btn btn-primary">GOT IT</button></p>
                </div>
                <!-- /THIRD PART -->
            </div>
        </div>
    </div>