<div class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="[ modal__close-button ] btn" data-dismiss="modal">&times;</button>
			<div class="modal-body">
				<div class="[ pp-logo ]"></div>
				<p class="text-center h3 mb-3">Password Sent</p>
				<p class="text-center mb-3 [ text-color-grey ]">Please check your spam and junk mail or inbox.</p>
				<p class="text-right">
					<button type="button" class="[ modal__back-to-login-button ] btn btn-primary">Back to Log In</button>
				</p>
			</div>
		</div>
	</div>
</div>