/* Fonts */
$body-font: 'Gudea', sans-serif;
$primary-heading: 'Gudea', sans-serif;

/* Colors */
$primary-color: #2c58ff;
$primary-color-hover: #083eff;
$primary-color-v2: #2c58ff;
$secondary-color: #2b363f;
$light-grey: #a9a9a9;

$button-shadow: 0 1px 6px rgba(57,73,76,0.35);

a {
	color: $primary-color;
}

section {
	padding-top: 100px;
	padding-bottom: 80px;
}

html {
	scroll-behavior: smooth;
}

html, body, form, div {
	padding: 0;
	border: 0;
	margin: 0;
}

/* Header */

body.is-main header {
	height: 88px;

	.navbar {
		-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
	}
}

body {
	font-family: $body-font;
	font-size: 1rem;

	p {
		font-weight: 400;
		color: $light-grey;
	}
}

.col {
	min-width: 0;
}

.form-control-group {
	position: relative;
}

.form-control-group__prefix {
	display: block;
	position: absolute;
	top: 0; left: 0;
	height: calc(1.5rem + .75rem + 2px);
	line-height: calc(1.5rem + .75rem + 2px);
	padding-left: .75rem;
	pointer-events: none;
}

.form-control-group.has-prefix .form-control {
	padding-left: 1.75rem;
}

.form-control-group.has-postfix .form-control {
	padding-right: 1.75rem;
}

.form-control-group.has-postfix .form-control.is-invalid {
	padding-right: 2.75rem;
}

.form-control-group .form-control.is-invalid + .form-control-group__postfix {
	padding-right: 1.75rem;
}

.form-control-group__postfix {
	display: block;
	position: absolute;
	top: 0; right: 0;
	height: calc(1.5rem + .75rem + 2px);
	line-height: calc(1.5rem + .75rem + 2px);
	padding-right: .75rem;
	pointer-events: none;
}

input.form-control.is-first-capitalized {
	text-transform: capitalize;
}

body.is-main .navbar-brand {
	display: flex;
	flex-direction: row;
	align-items: center;

	img {
		width: 40px;
		margin-right: 10px;
	}
}

body.is-main .navbar {
	box-shadow: 0 0 5px #f2f2f2;
}

body.is-main .navbar-phone__link {
	display: block;
	font-size: 18px;
	font-weight: bold;
	color: #000000;

	&:hover {
		text-decoration: none;
	}
}

body.is-main .navbar-phone__description {
	display: block;
	font-size: 12px;
	margin-top: -3px;
}

.bg-light {
	background-color: #ffffff !important;
}

body.is-main .navbar-nav  {
	flex-grow: 0 !important;
	padding: 1rem 0;

	.nav-item {
		padding-right: .5rem;

		.nav-link {
			&:hover {
				color: $primary-color;
				cursor: pointer;
				transition: all .5s;
			}
		}
	}

	.active .nav-link {
		color: $primary-color !important;
		font-weight: bold;
	}

	.form-inline {

		input[type="email"] {

			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;

			&:focus {
				box-shadow: none !important;
			}

		}

		button {
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}

	}
}

.anchor {
    display: block;
    position: relative;
    top: -(88px + 25px);
    visibility: hidden;
}

.btn-custom {
	background-color: $primary-color;
	border-radius: 2px;
}

.btn-custom:focus {
	outline: none !important;
	box-shadow: none !important;
}

.btn {
	position: relative;

	&::before {
		display: inline-block;
		content: '';
		background-image: url('img/ellipsis.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 30px 30px;
		position: absolute;
		top: 0; right: 0; left: 0;
		height: 100%;
		// padding: 1rem 0;
		line-height: 1.5rem;
		visibility: hidden;
		text-align: center;
		color: transparent;
		transition: color 0.3s;
	}

	&.btn-sm::before {
		background-size: 24px 24px;
	}

	&.is-loading,
	&.btn-primary.is-loading,
	&.btn-primary:hover.is-loading,
	&.btn-primary:focus.is-loading {
		transition: color 0s;
		color: transparent;

		&::before {
			visibility: visible;
		}

		* {
			visibility: hidden;
		}
	}

	&.btn-primary {
		background-color: #2c58ff;
		border-color: #2c58ff;
		color: #ffffff;
	}

	&.btn-primary:hover, &.btn-primary:focus {
		background-color: darken(#2c58ff, 15%);
		border-color: darken(#2c58ff, 15%);
		color: #ffffff;
	}
}

.tooltip {
	left: 9px !important;
}

.badge {
	height: 18px;
	line-height: 18px;
	padding: 0 .4em;

	&.badge-primary {
		background-color: #2c58ff;
	}
}

// ---------------------------------------------------------------------- //
//
// - HOMEPAGE
//
// ---------------------------------------------------------------------- //

.hero {
	background-color: #f0f8ff;
}

.hero__row {
	flex-wrap: wrap;
	align-items: center;
}

.hero__row.home {
	margin-left: 0px !important;
}

.hero__row .col-md-6 {
	padding-left: 0px !important;
}

.hero-text {
	margin-top: 70px !important;
}

.hero-text__button {
	margin: 20px 0;
	padding: 10px 20px;
	font-size: 20px;
	border-radius: 2px;
}

.hero-text__primary-heading {
	font-family: $primary-heading;
}

.hero__link a:hover {
	cursor: pointer;
}

.hero__illustration img {
	width: 75%;
	margin-left: 6rem;
	padding-top: 100px;
	padding-bottom: 20px;
}

.hero-form__button {
	margin: 20px 0;
	padding: 10px 20px;
	font-size: 20px;
	border-radius: 2px;
	margin-left: -40px;
	border: none !important;
	background-color: $primary-color;
	box-shadow: 0 1px 6px rgba(57,73,76,0.35);
}

.hero-form__button:hover {
	background-color: $primary-color-hover;
}

.hero-form__button:focus {
	outline: none !important;
	box-shadow: none !important;
}

.hero-form__input {
	width: 0;
	border: none !important;
	transition: width .5s ease-in-out;
	padding: 10px 20px;
	font-size: 20px;
	border-radius: 2px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.hero-form__input:focus {
	outline: none !important;
}

.hero-form.active .hero-form__input {
	width: 300px;
}

/* MEDIA QUERY - Responsive */

@media (max-width: 575.98px) {

	.home .hero-text {
		text-align: left !important;
	}

	.hero__illustration {
		display: none;
	}

	.video-explainer {
		text-align: center;
	}

	.video-explainer__video {
		margin-top: 20px;
	}

	.view-apps {
		text-align: center;
		padding-top: 30px !important;
	}

	.view-apps .row {
		flex-direction: column-reverse;
	}

	.view-apps__image {
		margin-top: 20px !important;
	}

	.manage-projects {
		text-align: center;
		padding-top: 70px !important;
	}

	.manage-projects__image {
		margin-top: 20px;
	}

	.manage-projects__image img {
		width: 90%;
	}

	.view-statistics .row {
		flex-direction: column-reverse;
	}

	.view-statistics {
		text-align: center;
		padding-top: 70px !important;
	}

	.view-statistics__image {
		margin-top: 20px !important;
	}

}

/* Video Section */

.video-explainer__text h2 {
	font-family: $primary-heading;
}

.video-explainer__text p {
	padding-top: 10px;
	color: $light-grey;
	font-weight: 300;
}

/* view-apps-feature Section */

.view-apps {
	background-color: #fdfdfd;
}

.view-apps__text h2 {
	font-family: $primary-heading;
}

.view-apps__text p {
	padding-top: 10px;
	color: $light-grey;
	font-weight: 300;
}

.view-apps__image img {
	width: 90%;
}

/* manage-projects Section */

.manage-projects__text h2 {
	font-family: $primary-heading;
}

.manage-projects__text p {
	padding-top: 10px;
	color: $light-grey;
	font-weight: 300;
}

.manage-projects__image img {
	width: 100%;
}

/* view-statistics Section */

.view-statistics {
	background-color: #fdfdfd;
}

.view-statistics__text h2 {
	font-family: $primary-heading;
}

.view-statistics__text p {
	padding-top: 10px;
	color: $light-grey;
	font-weight: 300;
}

/* more-features Section */

.more-features__text h2 {
	font-family: $primary-heading;
}

.feature-block {
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.feature-block__icon {
	height: 80px;
	width: 80px;
	border-radius: 50px;
	background-color:  #f0f8ff;
	display: flex;
	align-content: center;
	justify-content: center;
}

.feature-block__icon img {
	width: 45%;
}

.feature-block__feature-title {
	padding-top: 20px;
}

.feature-block__feature-title h4{
	font-size: 18px;
}


/* try now block */

.try-now {
	background-color: $primary-color;
	margin: 0 -15px;
}

.try-now__text {
	color: #ffffff;
	font-size: 60px;
	font-weight: bold;
}

.try-now__button.btn-primary {
	margin-top: 20px;
	background-color: #ffffff;
	color: #2c58ff;
	border: none;
	padding: 15px 50px;
	font-size: 25px;
	border-radius: 2px;
}

/* / try now block*/

.footer {
	padding: 50px 0 20px 0;
}

.footer__logo {
	display: flex;
	flex-direction: row;
}

.footer__logo a {
	text-decoration: none;
	color: $secondary-color;
	font-size: 1.25rem;
}

.footer__logo a img {
	margin-right: 5px;
	width: 40px;
}

.footer__about {
	margin-top: 20px;
}

.footer__about p {
	font-size: 14px;
}

.footer__nav {
	padding-left: 0px !important;
}

.footer__nav li {
	list-style: none;
}

.footer__nav li a{
	color: #a9a9a9;
	font-size: 14px;
}

.footer__nav li a:hover {
	color: $primary-color;
	cursor: pointer;
	transition: all .5s;
}

.footer__subs h4 {
	font-size: 19px;
	line-height: 1.6;
}

.footer__subs .form-control:focus {
	box-shadow: none !important;
}

.footer__subs .btn-primary {
	width: 100%;
	margin-top: 10px;
}

.footer-bottom {
	width: 100%;
}

.footer-bottom__lang-title {
	color: #a9a9a9;
	font-size: 32px;
}

.footer-bottom .copy {
	font-size: 14px;
}

.footer-bottom__select-language {
	position: relative;
}

.footer-bottom__lang {
	position: relative;
	cursor: pointer;
}

.footer-bottom__lang p {
	margin-bottom: 0px !important;
	font-weight: 400;
	font-size: 14px;
}

.footer-bottom__lang img {
	margin: -3px 5px 0 0;
}

.footer__subs-form.btn-primary {
	background-color: $primary-color;
	box-shadow: 0 1px 6px rgba(57,73,76,0.35);
	border: none !important;
}

.footer__subs-form.btn-primary:hover {
	background-color: $primary-color-hover;
}

/* do active class */
.footer-bottom__lang:not(.is-open) .footer-bottom__select-language__body {
	display: none;
}

.footer-bottom__select-language__body {
	position: absolute;
	bottom: 32px;
	right: -10px;
	width: 170px;
	z-index: 9999;
	padding-top: 25px;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0 0 2px #d6d6d6;
}

.footer-bottom__select-language__body ul {
	padding-left: 30px !important;
}

.footer-bottom__select-language__body ul li {
	list-style: none;
	padding-bottom: 10px;
}

.footer-bottom__select-language__body ul li a{
	text-decoration: none;
}

.footer-bottom__select-language__body ul li img{
	width: 20px;
	margin-right: 10px;
}

.go-to-top-button {
	position: fixed;
	z-index: 99;
	bottom: 17px; right: 18px;
	width: 58px;
	height: 58px;
	border: 1px solid transparent;
	outline: none;
	background-color: #2c58ff;
	color: white;
	cursor: pointer;
	padding: 9px;
	border-radius: 50%;
	font-size: 14px;
	opacity: 1.0;
	visibility: visible;
	transition: opacity 0.2s, visibility 0.2s;

	&:hover {
		background-color: darken(#0072ff, 5%);
		// color: $primary-color;
		// box-shadow: 0 0 2px #ebebeb;
		// border-color: darken(#ffffff, 20%);
	}

	&:focus {
		box-shadow: none;
		outline: none;
	}

	&.is-hidden {
		opacity: 0.0;
		visibility: hidden;
	}
}

@media (max-width: 575.98px) {

	.footer__nav {
		margin-bottom: 0px !important;
	}

	.footer__nav .nav-item .nav-link {
		padding-left: 0px !important;
	}

	.footer__subs {
		margin-top: 30px !important;
	}
}

/******* INNER PAGE HEADER ********/

.page-header {
  padding-top: 150px;
  padding-bottom: 50px;
  background-color: #f0f8ff;
}

.page-header__page-title h2 {
  color: #2c58ff;
  font-size: 60px;
  text-align: left;
  font-weight: bold;
}

.page-header__page-title p {
  text-align: left;
  font-size: 22px;
}

.bellow-header-text h4 {
  padding-top: 50px;
  color: #2b363f;
  text-align: left;
}

@media (max-width: 567px) {
	.page-header__page-title h2 {
		font-size: 40px;
	}
}

/********* HOW IT WORKS PAGE *********/

/* signup */

.sign-up__text h2 {
	font-family: $primary-heading;
}

.sign-up__text p {
	padding-top: 10px;
	color: $light-grey;
	font-weight: 300;
}

.sign-up__img {
	text-align: center;
}

.sign-up__img object {
	width: 80%;
}

/* invite */

.invite {
	background-color: #fdfdfd;
}
.invite__text h2 {
	font-family: $primary-heading;
}
.invite__p {
	padding-top: 10px;
	color: $light-grey;
	font-weight: 300;
}

.invite__img {
	text-align: center;
}

.invite__img object {
	width: 90%;
}

/* time-tracking */

.time-tracking__text h2 {
	font-family: $primary-heading;
}

.time-tracking__text p {
	padding-top: 10px;
	color: $light-grey;
	font-weight: 300;
}

.time-tracking__img {
	text-align: center;
}

.time-tracking__img object {
	width: 70%;
}

/* view-activity */

.view-activity {
	background-color: #fdfdfd;
}

.view-activity__text h2 {
	font-family: $primary-heading;
}

.view-activity__text p {
	padding-top: 10px;
	color: $light-grey;
	font-weight: 300;
}

/* generate-reports */

.generate-reports__text h2 {
	font-family: $primary-heading;
}

.generate-reports__text p {
	padding-top: 10px;
	color: $light-grey;
	font-weight: 300;
}

/* MEDIA QUERY - Responsive */

@media (max-width: 575.98px) {

	.sign-up {
		text-align: center;
	}

	.sign-up__img {
		margin-top: 30px !important;
	}

	.sign-up__img img {
		width: 70%;
	}

	.invite {
		text-align: center;
		padding-top: 50px !important;
	}

	.invite .row {
		flex-direction: column-reverse;
	}

	.invite__img {
		margin-top: 30px !important;
	}

	.invite__img img {
		width: 80%;
	}

	.time-tracking {
		text-align: center;
		padding-top: 50px !important;
	}

	.time-tracking__img {
		margin-top: 30px !important;
	}

	.view-activity {
		text-align: center;
		padding-top: 50px !important;
	}

	.view-activity .row {
		flex-direction: column-reverse;
	}

	.view-activity__img {
		margin-top: 30px !important;
	}

	.generate-reports {
		text-align: center;
		padding-top: 50px !important;
	}

	.generate-reports__img {
		margin-top: 30px !important;
	}

}

/********* FAQ PAGE *********/

.questions {
	padding-top: 100px !important;
}

.questions__wrapper {
	display: flex;
	justify-content: space-between;
}

.questions__sidebar {
	width: 25%;
	height: 100%;
	min-height: 200px;
	overflow: auto;
	position: -webkit-sticky;
	position: sticky;
	top: 20%;
}

.questions__sidebar ul {
	list-style: none;
	padding-left: 0px !important;
}

.questions__sidebar ul li {
	padding: 5px 0;
}

.questions-main {
	width: 70%;
	height: 100%;
	min-height: 500px;
	display: flex;
	flex-direction: column;
}

.questions-main__answer {
	padding-bottom: 50px;
}

@media (max-width: 575.98px) {

	.questions__sidebar {
		display: none;
	}

	.questions-main {
		width: 100%;
		text-align: center;
	}

	.more-features {
		padding-top: 0px !important;
	}

}


/********* PRICING PAGE *********/

.card {
	border: none;
	border-radius: 5px;
	transition: all 0.2s;
	box-shadow: 0 0.5rem 1rem 0 rgba(36, 36, 36, 0.1);
	position: relative;
}

.card__body {
	padding: 30px;
}

.card:hover {
	margin-top: -.25rem;
	margin-bottom: .25rem;
	box-shadow: 0 0.5rem 1rem 0 rgba(163, 163, 163, 0.2);
}

.card__title {
	font-size: 36px;
	font-weight: bold;
	color: $primary-color !important;

}

.card__price {
	padding: 2px 0;
	color: $light-grey;
}

.card__short-desc {
	padding: 10px 0 !important;
	margin: 0px !important;
}

.card__price span {
	color: $primary-color;
	font-weight: bold;
	font-size: 26px;
}

.card__button {
	padding: 10px 30px;
	margin: 50px 0 15px 0;
	border-radius: 3px;
}

.card__button.btn-primary {
	background-color: transparent;
	border: 2px solid $primary-color;
	color: $primary-color;
}

.card__button.btn-primary:hover {
	background-color: $primary-color;
	color: #ffffff;
}

.card__button.btn-primary.is-loading,
.card.is-recommended .card__button.btn-primary.is-loading {
	background-color: $primary-color;
	color: transparent;
}

.card__calculate-price {
	padding: 5px 0;
}

.card__nav  {
	margin-top: 30px !important;
	padding-left: 0px !important;
}

.card__nav li {
	display: flex;
	list-style: none;
	margin-bottom: 1rem;
}

.card__nav li span img {
	width: 20px;
}

.card__nav li p {
	margin-bottom: 0px !important;
	margin-top: 3px;
	padding-left: 10px;
	font-size: 14px;
	font-weight: 400;
	color: $secondary-color;
}

.card.is-recommended {
	border: 2px solid $primary-color;
	border-radius: 5px;
	box-shadow: 0 0.5rem 1rem 0 rgba(36, 36, 36, 0.027);
}

.card.is-recommended .card__button.btn-primary {
	background-color: $primary-color;
	color: #ffffff;
}

.card__recommended {
	position: absolute;
	background-color: $primary-color;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	color: #ffffff;
	display: none;
}

.card.is-recommended .card__title {
	padding-top: 35px;
}

.card.is-recommended .card__recommended {
	display: block;
}

/* media query */

@media (max-width: 991.98px) {
	.pricing .row .col-md-3 {
		flex: 0 0 50% !important;
		max-width: 50%;
	}
 }

@media (max-width: 767.98px) {

	.pricing .row .col-md-3 {
		flex: 0 0 50% !important;
	}
}

@media (max-width: 575.98px) {

	.pricing .row .col-md-3 {
		flex: 0 0 100% !important;
		max-width: 100% !important;
	}
}




/******* SUPPORT PAGE *******/

// .form {
//     padding-top: 50px !important;
//     padding-bottom: 0px !important;
// }

// .form input {
//     padding: 15px;
// }

// .form .form-group {
//     padding-bottom: 20px !important;
// }

// .form .form-group:nth-child(3) {
//     padding-bottom: 0px !important;
// }

// .form small {
//     padding-top: 3px;
// }

// .form__text-up {
//     text-align: center;
//     padding-bottom: 20px;
//     font-weight: 400;
// }

// .form__button {
//     margin-top: 20px;
//     margin-bottom: 20px;
//     width: 100%;
//     float: right;
//     border-radius: 2px;
//     padding: 10px;
//     background-color: $primary-color;
// }


// .form-gs {

//     padding-top: 50px !important;
//     padding-bottom: 50px !important;

//     input {
//         padding: 15px;
//     }

//     .form-group {
//         padding-bottom: 20px !important;
//     }

//     .form-group:nth-child(6) {
//         padding-bottom: 0px !important;
//     }

//     .form-text-up {
//         text-align: center;
//         padding-bottom: 20px;
//         font-weight: 400;
//     }

//     small {
//         padding-top: 3px;
//     }

//     .btn-submit {
//         width: 100%;
//         border-radius: 2px;
//         margin-top: 20px;
//         padding: 10px;
//     }

//     .required-text {
//     }

// }

/******* SECURITY PAGE *******/

.security__body {
	padding-top: 50px !important;
}

.security__icon {
	height: 80px;
	width: 80px;
	background-color: rgba(44, 90, 255, 0.05);
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.security__icon img {
	width: 50%;
}

.security__title {
	font-family: $primary-heading;
	color: $primary-color;
	padding-top: 20px;
}

/********* DOWNLOAD PAGE *********/

.page-header.thank-you {
	background-color: $primary-color;
}

.page-header__download-icon img {
	width: 5%;
	margin-bottom: 30px;
}

.thank-you__logo {
	display: flex;
	flex-direction: row;
}

.thank-you__about {
	margin-top: 20px;
}

.thank-you__logo a {
	text-decoration: none;
	color: $secondary-color;
	font-size: 1.25rem;
}

.thank-you__logo a img {
	margin-right: 5px;
	width: 40px;
}

.thank-you__about p {
	font-size: 14px;
}

.hero-text__link {
	padding-top: 10px;
}

.nav-button.btn-primary {
	border-radius: 3px !important;
	padding: 5px 30px;
	font-size: 16px;
}

.hero-text__button {
	background-color: $primary-color;
	margin: 20px 0;
}

.hero__illustration-download object {
	width: 80%;
	margin-left: 6rem;
	margin-top: 100px;
	padding-bottom: 20px;
}

.random-questions__title {
	font-family: $primary-heading;
}

.random-questions__answer {
	padding-top: 50px !important;
}

@media (max-width: 991.98px) {

	.hero-text__primary-heading {
		font-size: 26px;
	}

	.hero-text__button {
		font-size: 14px;
	}

	.hero__illustration-download img {
		width: 100%;
		margin-top: 80px;
		margin-left: 3rem;
	}

}

@media (max-width: 575.98px) {

	.hero-text {
		text-align: center;
		margin-top: 100px !important;
	}

	.hero__illustration-download img {
		width: 80%;
		margin-top: 20px !important;
	}

}



/********* GET STARTED PAGE *********/

.pick-mode {
	margin-top: 40px;
	margin-bottom: 30px;
}

.pick-mode.nav-tabs {
	border-bottom: 0px !important;
}

.pick-item {
	font-size: 20px;
	position: relative;
}

.pick-item a {
	background-color: #ebebeb;
	padding: 10px 20px;
	transition: 0.5s all;
}

.pick-item a.active {
	font-weight: bold;
	color: #ffffff;
	background-color: $primary-color;
	padding: 10px 20px;
}

.pick-item a {
	text-decoration: none;
	color: $light-grey;
}

.pricing-packages {
	padding-bottom: 30px;
}

.pricing-packages .card__button {
	width: 100%;
}

.pricing-packages .tab-content {
	padding-top: 20px !important;
}

.page-header.get-started {
	padding-top: 130px !important;
	padding-bottom: 20px !important;
}

@media (max-width: 991.98px) {
	.pricing-packages .row .col-md-3 {
		flex: 0 0 50% !important;
		max-width: 50%;
	}

	#freelancer .row .offset-md-4 {
		flex: 1 0 9% !important;
		max-width: 60% !important;
		margin-left: 135px;
	}
}

@media (max-width: 767.98px) {

	.pricing-packages .row .col-md-3 {
		flex: 0 0 50% !important;
	}
}

@media (max-width: 575.98px) {

	.pricing-packages .row .col-md-3 {
		flex: 0 0 100% !important;
		max-width: 100% !important;
	}

	#freelancer .row .offset-md-4 {
		flex: 1 0 9% !important;
		max-width: 100% !important;
		margin-left: 0px;
	}

	#company .row .offset-md-4 {
		flex: 1 0 9% !important;
		max-width: 80% !important;
		margin-left: 40px;
	}
}

/* Form Choose a Plan - Pricing boxes */

	/* Company */
.form-cp-cm__input {
	width: 0;
	border: 1px solid #cecece !important;
	transition: width .7s ease-in-out;
	padding: 10px 20px;
	font-size: 15px;
	border-radius: 3px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin: 20px 0;
}

.form-cp-cm__button {
	width: 100%;
	margin: 20px 0;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 2px;
	margin-left: -42px;
	border: none !important;
	background-color: $primary-color;
	box-shadow: 0px 2px 20px -5px rgba(44, 88, 255, 0.83);
}

.form-cp-cm__button-in {
	width: 30px;
	height: 30px;
	background-color: $primary-color;
	position: absolute;
	right: 37px;
	display: flex;
	justify-content: center;
	border-radius: 2px;
	border-color: $primary-color;
	opacity: 0;
	transition: opacity 1s ease-in-out;
	box-shadow: 0px 2px 20px -5px rgba(44, 88, 255, 0.83);
}

.form-cp-cm__button-in:focus {
	outline: none !important;
	box-shadow: none !important;
}

.form-cp-cm__button-in img {
	width: 15px;
}

.form-cp-cm__button:focus {
	outline: none !important;
	box-shadow: none !important;
}

.form-cp-cm__input:focus {
	outline: none !important;
}

.form-cp-cm.active .form-cp-cm__button {
	display: none;
}

.form-cp-cm.active .form-cp-cm__button-in {
	opacity: 1;
}

.form-cp-cm.active .form-cp-cm__input {
	width: 100%;
}


	/* Freelancer */

.form-cp-fm__input {
	width: 0;
	border: 1px solid #cecece !important;
	transition: width .7s ease-in-out;
	padding: 9px 20px;
	font-size: 20px;
	border-radius: 3px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin: 20px 0;
}

.form-cp-fm__button {
	width: 100%;
	margin: 20px 0;
	padding: 10px 20px;
	font-size: 20px;
	border-radius: 2px;
	margin-left: -42px;
	border: none !important;
	background-color: $primary-color;
	box-shadow: 0px 2px 20px -5px rgba(44,88,255,0.83);
}

.form-cp-fm__button-in {
	width: 35px;
	height: 35px;
	background-color: $primary-color;
	position: absolute;
	right: 40px;
	display: flex;
	justify-content: center;
	border-radius: 2px;
	border-color: $primary-color;
	opacity: 0;
	transition: opacity 1s ease-in-out;
	box-shadow: 0px 2px 20px -5px rgba(44,88,255,0.83);
}

.form-cp-fm__button-in:focus {
	outline: none !important;
	box-shadow: none !important;
}

.form-cp-fm__button-in img {
	width: 20px
}

.form-cp-fm__button:focus {
	outline: none !important;
	box-shadow: none !important;
}

.form-cp-fm__input:focus {
	outline: none !important;
}

.form-cp-fm.active .form-cp-fm__button {
	display: none;
}

.form-cp-fm.active .form-cp-fm__button-in {
	opacity: 1;
}

.form-cp-fm.active .form-cp-fm__input {
	width: 100%;
}

/* Create account */

.gs__wrapper {
	display: flex;
	flex-wrap: nowrap;
	position: relative;
}

.gs__wrapper.row {
	width: 100%;
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.gs__wrapper.row .col-md-8,
.gs__wrapper.row .col-md-4 {
	padding: 0px !important;
}

.gs-form {
	// height: 100%;
	padding-top: 130px;
	width: 500px;
}

.gs-form__page-title {
	font-family: $primary-heading;
	font-size: 36px;
}

.gs-form__google-sign-up {
	display: flex;
	border: 2px solid $primary-color;
	border-radius: 3px;
	margin-top: 50px;
}

.gs-form__icon {
	padding: 10px 20px;
}

.gs-form__icon img {
	width: 20px;
	margin-bottom: 3px;
}

.gs-form__button {
	width: 100%;
}

.gs-form__button.btn {
	width: 100%;
	border: none;
	border-radius: 0px !important;
	background-color: $primary-color;
	box-shadow: 0px 2px 20px -5px rgba(44,88,255,0.83);
}

.gs-form__devider-text {
	position: relative;
	margin-top: 50px;
	margin-bottom: 50px;
}

.gs-form__devider-text:before{
	content: '';
	height: 1px;
	width: 25%;
	background-color: #cecece;
	position: absolute;
	left: 0px;
	bottom: 10px;
}

.gs-form__devider-text:after{
	content: '';
	height: 1px;
	width: 25%;
	background-color: #cecece;
	position: absolute;
	right: 0px;
	bottom: 10px;
}

.gs__wrapper form input,
.gs__wrapper form select {
	height: calc(2.0em + .75rem + 2px);
}

.gs__wrapper form .selectize-control .selectize-input {
	height: calc(2.0em + .75rem + 2px);
}

.gs__wrapper form .selectize-control .selectize-input > input {
	height: calc(2.0em + .75rem);
}

.gs__wrapper form .selectize-control .selectize-input .selectize-item {
	height: 44px;
	padding: 11px .75rem !important;
	padding-right: 0 !important;
}

.gs__wrapper form .selectize-control .selectize-input .selectize-item > img {
	top: 10px;
}


.gs__wrapper form input:focus,
.gs__wrapper form select:focus {
	box-shadow: none !important;
}

.gs__wrapper form .selectize-input.focus {
	box-shadow: none;
}

.gs__wrapper form  .selectize-control.loading.single .selectize-input.dropdown-active::after,
.gs__wrapper form .selectize-control.loading .selectize-input::after {
	height: 44px;
}

.gs__wrapper .form-control-group__prefix,
.gs__wrapper .form-control-group__postfix {
    height: calc(2.0em + .75rem + 2px);
    line-height: calc(2.0em + .75rem + 2px);
}

.gs-form__main__button.btn-primary {
	width: 100%;
	padding: 12.5px 0px;
	background-color: $primary-color;
	box-shadow: 0px 2px 20px -5px rgba(44,88,255,0.83);
	border-radius: 2px;
	border: none !important;
}

// .gs-form__main

/* Add-ons */

.gs-add-on {
	height: 100vh;
	padding-top: 130px;
	width: 700px;
	margin-bottom: 100px;
}

.gs-add-on__page-title {
	font-family: $primary-heading;
	margin-bottom: 50px !important;
}

.gs-add-on__body {
	display: flex;
	margin-top: 30px;
	background-color:#f0f8ff;
	padding: 20px;
	border-radius: 5px;
}

.gs-add-on__icon img {
	width: 60px;
	margin-right: 20px;
}

.gs-add-on__text h4 {
	font-weight: bold;
	font-size: 18px;
}

.gs-add-on__text h4 small {
	color: $light-grey;
	font-size: 16px;
}

.gs-add-on__text p {
	margin-bottom: 0px !important;
}

.gs-add-on__button.add.btn-primary {
	width: 160px;
	height: 40px;
	background-color: transparent;
	border: 2px solid $primary-color;
	border-radius: 3px;
	color: $primary-color;
}

.gs-add-on__button.add.btn-primary:hover {
	background-color: $primary-color;
	box-shadow: $button-shadow;
	color: #ffffff;
}

.gs-add-on__button.remove.btn-primary {
	width: 160px;
	height: 40px;
	background-color: transparent;
	border: 2px solid $light-grey;
	border-radius: 3px;
	color: $light-grey;
}

.gs-add-on__button.remove.btn-primary:hover {
	background-color: $light-grey;
	color: #ffffff;
	box-shadow: $button-shadow;
}

.gs-add-on__c-button  {
	background-color: $primary-color;
	padding: 10px;
	box-shadow: $button-shadow;
	color: #ffffff;
	width: 100%;
	border-radius: 2px;
	margin-top: 20px;
	margin-bottom: 30px;
}

/* / Add-ons */

/* Start trial */
.gs-start-trial {
	height: 100vh;
	padding-top: 130px;
	width: 500px;
}

.gs-start-trial__page-title {
	font-family: $primary-heading;
	margin-bottom: 50px !important;
}

.gs-start-trial__main {
	position: relative;
}

.gs-start-trial__main label small {
	color: $light-grey;
}

.gs-start-trial__main label small img {
	width: 15px;
	margin-left: 10px;
	margin-right: 5px;
	margin-bottom: 2px;
}

.gs-start-trial__main input {
	padding-top: 22.5px;
	padding-bottom: 22.5px;
	padding-left: 45px;
	padding-right: 40px;
}

.gs-start-trial__main input:focus {
	box-shadow: none !important;
}

.gs-start-trial__icon-card  {
	position: absolute;
	width: 20px;
	top: 47px;
	left: 15px;
}

.gs-start-trial__button.btn-primary {
	width: 100%;
	padding: 12.5px 0px;
	background-color: $primary-color;
	box-shadow: 0px 2px 20px -5px rgba(44,88,255,0.83);
	border-radius: 2px;
	border: none !important;
}

.gs-start-trial__info {
	display: flex;
	align-content: center;
	flex-direction: column;
	padding: 20px 0 !important;
}

.gs-start-trial__info p {
	margin-bottom: 0px !important;
	font-size: 18px;
}

.gs-start-trial__info p:first-child {
	padding-bottom: 20px;
}

.gs-start-trial__info img{
	width: 30px;
	margin-right: 10px;
}


/* / Start trial */

/**** check out ****/

.gs-checkout {
	background-color:#f0f8ff;
	height: 100vh;
	position: fixed;
	right: 0;
	width: 34%;
	padding-top: 130px;
	padding-left: 30px;
	padding-right: 30px;
	overflow-y:scroll;
	overflow-x:hidden;
}

.gs-checkout__th h4 {
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(#000000, 0.1);
}

.gs-checkout__list {
	list-style: none;
	padding-left: 0px !important;
}

.gs-checkout__list .gs-checkout__item {
	padding: 10px 0 10px 0;
	border-bottom: 1px dashed $light-grey;
}

.gs-checkout__list .gs-checkout__item:last-child {
	padding-top: 20px;
	border-bottom: 1px solid rgba(#000000, 0.1);
}

.gs-checkout__list .gs-checkout__item h4 {
	font-weight: bold;
	font-size: 18px;
	position: relative;
}

.gs-checkout__list .gs-checkout__item h4 .delete-icon img {
	width: 15px;
	position: absolute;
	top: 0;
	right: 0;
}

.gs-checkout__list .gs-checkout__item small {
	font-size: 14px;
	color: $light-grey;
}

p.gs-checkout__quote__text {
	font-size: 16px;
	line-height: 1.44;
	color: #2b363f;
	padding-right: 30px !important;
}

h4.gs-checkout__quote__person {
	font-weight: bold;
	font-size: 16px;
}

.gs-checkout__total {
	display: flex;
	flex-direction: column;
	padding: 10px 0 !important;
}

.gs-checkout__total {
	display: flex;
	flex-direction: column;
	padding: 10px 0 !important;
}

.gs-checkout__total {
	display: flex;
	flex-direction: column;
	padding: 5px 0 !important;
}

.gs-checkout__total h4 {
	font-weight: bold;
	font-size: 20px;
}

.gs-checkout__total h4 span {
	float: right;
}

.gs-checkout__total p {
	font-size: 14px;
}

.gs-checkout__total-sum-container {
	float: right;
}

.gs-checkout__form-coupon {
	display: none;
}

.gs-checkout__form-coupon input {
	width: 75% !important;
	border-radius: 2px !important;
	padding: 10px 10px;
}

.gs-checkout__apply-coupon {
	padding: 10px 0px 30px 0;
}

.coupon-code {
	color: $primary-color;
	margin-bottom: 10px;
}

.gs-checkout__form-coupon input:focus {
	box-shadow: none !important;
}

.gs-checkout__form-coupon .gs-checkout__button.btn-primary {
	margin-left: 5px;
	width: 23% !important;
	background-color: $primary-color;
	box-shadow: 0px 2px 20px -5px rgba(44,88,255,0.83);
	border-radius: 2px;
	border: none !important;
	padding: 7px 0px;
}


/* Navigation */

.get-started {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.get-started__logo {
	display: flex;
	align-items: center;
	height: 100%;
}

.get-started__logo a {
	color: $secondary-color;
	text-decoration: none;
}

.get-started__logo img {
	width: 15%;
	margin-right: 10px;
	margin-bottom: 8px;
}

.get-started__step {
	width: 100%;
	justify-content: center;
}

.get-started__step .nav-item .nav-link[href="#"] {
	cursor: default !important;
}

.get-started__step .nav-item.active .nav-link {
	color: $primary-color;
	font-weight: bold;
	cursor: default !important;
}

.get-started__signin {
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: flex-end;
}

.get-started__signin p {
	margin: 0px !important;
	color: $secondary-color;
}



/* Navigation end */

.create-project-logo {
	display: flex;
	justify-content: center;
	width: 100%;
	box-shadow: 0 0 5px #f2f2f2;
	padding: 22.5px 0;
}

.create-project-logo a {
	text-decoration: none;
	color: $secondary-color;
	display: flex;
	align-items: center;
}

.create-project-logo a img {
	width: 40px;
	margin-right: 10px;
}

.create-project-form {
	height: 100vh;
	padding-top: 50px;
	width: 500px;
}

.create-project-form__page-title {
	font-family: $primary-heading;
	font-size: 36px;
}

.create-project-form__button.btn-default {
	width: 40%;
	height: 50px;
	border: 1px solid $light-grey;
	color: $light-grey;
	border-radius: 2px !important;
	background-color: transparent;
}

.create-project-form__button.btn-default:hover {
	background-color: $light-grey;
	color: #ffffff;
}

.create-project-form__button.btn-primary {
	width: 40%;
	height: 50px;
	border: none;
	border-radius: 2px !important;
	background-color: $primary-color;
	box-shadow: 0px 2px 20px -5px rgba(44,88,255,0.83);
	float: right;
}

.create-project-form__main input.form-control {
	padding: 22.5px 20px;
}

.create-project-form__main input:focus {
	box-shadow: none !important;
}

.create-team-form {
	height: 100vh;
	padding-top: 50px;
	width: 500px;
}

.create-team-form__page-title {
	font-family: $primary-heading;
	font-size: 36px;
}

.create-team-form__button.btn-default {
	width: 40%;
	padding: 13px;
	border: 1px solid $light-grey;
	color: $light-grey;
	border-radius: 2px !important;
	background-color: transparent;
}

.create-team-form__button.btn-default:hover {
	background-color: $light-grey;
	color: #ffffff;
}

.create-team-form__button.btn-primary {
	width: 40%;
	padding: 13px;
	border: none;
	border-radius: 2px !important;
	background-color: $primary-color;
	border: 1px solid $primary-color;
	box-shadow: 0px 2px 20px -5px rgba(44,88,255,0.83);
	float: right;
}

.create-team-form__main input.form-control {
	padding: 22.5px 20px;
}

.create-team-form__main input:focus {
	box-shadow: none !important;
}
/* create project & team end */

/* Price content body */


/* log in */

.login-form {
	height: 100vh;
	padding-top: 50px;
	width: 500px;
}

.login-form__page-title {
	font-family: $primary-heading;
	font-size: 36px;
}

.login-form__button.btn-default {
	width: 40%;
	height: 50px;
	border: 1px solid $light-grey;
	color: $light-grey;
	border-radius: 2px !important;
	background-color: transparent;
}

.login-form__button.btn-default:hover {
	background-color: $light-grey;
	color: #ffffff;
}

.login-form__button.btn-primary {
	width: 100%;
	height: 50px;
	border: none;
	border-radius: 0px !important;
	background-color: $primary-color;
	box-shadow: 0px 2px 20px -5px rgba(44,88,255,0.83);
	float: right;
}

.login-form__main input.form-control {
	padding: 22.5px 20px;
}

.login-form__main input:focus {
	box-shadow: none !important;
}

.login-form__google-sign-up {
	display: flex;
	border: 2px solid $primary-color;
	border-radius: 3px;
	margin-top: 30px;
}

.login-form__icon {
	padding: 10px 20px;
}

.login-form__icon img {
	width: 20px;
	margin-bottom: 3px;
}

.login-form__button {
	width: 100%;
}

.login-form__devider-text {
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
}

.login-form__devider-text:before{
	content: '';
	height: 1px;
	width: 25%;
	background-color: #cecece;
	position: absolute;
	left: 0px;
	bottom: 10px;
}

.login-form__devider-text:after{
	content: '';
	height: 1px;
	width: 25%;
	background-color: #cecece;
	position: absolute;
	right: 0px;
	bottom: 10px;
}

.login-form__opt {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.login-form__main .required-text {
	padding-top: 40px;
}

.login__image {
	background-color: #f0f8ff;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.login__image img {
	width: 80%;
}

.login-form__cc.col-md-6 {
	padding: 0px !important;
}

/* Creat team page */

.custom-set-col.col-md-6 {
	padding: 0px 0 0 15px !important;
	margin: 0px !important;
}

.custom-set-col.col-md-3 {
	padding: 0px !important;
	margin: 0px !important;
}

.custom-set-col.col-md-3:last-child {
	padding-right: 15px !important;
}

.custom-set-col .custom-select {
	height: 100% !important;
}

.custom-set-col .select-custom-tm {
	border-radius: 0px !important;
	border-right: none !important;
	border-left: none !important;
}

.custom-set-col .select-custom-pr {
	border-bottom-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
}

input.select-custom-field {
	border-bottom-right-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

/* Coming soon page */

.coming-soon {
	display: flex;
	justify-content: center;
	height: 100vh;
	position: relative;
}

.coming-soon .row {
	height: 100%;
	width: 100%;
}

.coming-soon .col-md-6:nth-child(1) {
	padding: 50px;
	height: 100%;
	display: flex;
	align-items: center;
}

.coming-soon .col-md-6:nth-child(2) {
	background-color: #f0f8ff;
}

.coming-soon__hero-text {
	display: flex;
	flex-direction: column;
	align-content: center;
}


.coming-soon__title p {
	font-weight: bold;
}

.coming-soon__title h2 {
	font-family: $primary-heading;
}

.coming-soon__image {
	text-align: center;
	margin-top: 20px;
}

.coming-soon__image img {
	width: 80%;
}

.coming-soon__logo {
	position: absolute;
	top: 0px;
}

.coming-soon__copy {
	position: absolute;
	bottom: 0px;
}

.coming-soon__copy p span {
	font-size: 12px;
}

.copy-country-image img {
	width: 15px;
	margin: 0 5px;
	margin-bottom: 3px;
}

.coming-soon__logo a {
	text-decoration: none;
	color: $secondary-color;
	display: flex;
	align-items: center;
	padding-top: 30px;
}

.coming-soon__logo a img {
	width: 40px;
	margin-right: 10px;
}

.coming-soon__form-title {
	margin-top: 30px;
	font-size: 16px;
	margin-bottom: 20px;
}

.coming-soon__button {
	padding: 10px 20px;
	font-size: 20px;
	border-radius: 2px;
	margin-left: -12px;
}

.coming-soon__input {
	border: 1px solid #ced4da;
	width: 100%;
	padding: 10px 20px;
	font-size: 20px;
	border-radius: 2px;
}

.coming-soon__check span img {
	width: 20px;
	margin-right: 5px;
	margin-bottom: 3px;
}

.coming-soon__input:focus {
	outline: none !important;
	box-shadow: none !important;
}

/* Forget password */

.forget-password {
	padding-top: 130px;
	width: 530px;
}

.forget-password__form-title {
	font-family: $primary-heading;
	font-size: 36px;
}

.forget-password__form-button.btn-primary {
	width: 100%;
	padding: 13px;
	border: none;
	border-radius: 2px !important;
	background-color: $primary-color;
	border: 1px solid $primary-color;
	box-shadow: 0px 2px 20px -5px rgba(44,88,255,0.83);
	float: right;
}

.forget-password__form {
	margin-top: 20px;
}

.forget-password__form input.form-control {
	padding: 22.5px 20px;
}

.forget-password__form input:focus {
	box-shadow: none !important;
}

/* small logo */

.small-logo {
	display: flex;
	justify-content: center;
	width: 100%;
	box-shadow: 0 0 5px #f2f2f2;
	padding: 22.5px 0;
}

.small-logo a {
	text-decoration: none;
	color: $secondary-color;
	display: flex;
	align-items: center;
}

.small-logo a img {
	width: 40px;
	margin-right: 10px;
}

/* Get started - mobile */

.gs-checkout-mobile {
	display: none;
}


.mobile__logo {
	display: none;
}

@media (max-width: 576px) {

	.gs-add-on__body {
		flex-direction: column !important;
	}

	.gs-add-on__text {
		margin: 20px 0px;
	}

}


@media (max-width: 768px) {
	.gs__wrapper .gs-checkout {
		display: none !important;
	}

	.gs__wrapper .col-md-8 {
		flex: 10 0 100% !important;
		max-width: 100% !important;
	}

	.gs-form {
		margin-right: 20px !important;
		margin-left: 20px !important;
	}

	.gs-add-on__icon img {
		margin-right: 20px !important;
	}

	.gs-add-on {
		margin-right: 20px !important;
		margin-left: 20px !important;
	}

	.gs-start-trial {
		margin-right: 20px !important;
		margin-left: 20px !important;
	}

	.gs-add-on__body {
		flex-direction: row;
	}

	body.is-main .navbar .get-started {
		width: 100%;
	}

	body.is-main .navbar .get-started .row {
		width: 100%;
	}

	body.is-main .navbar .get-started .col-md-3 {
		width: 100%;
	}

	.mobile__logo {
		width: 100% !important;
	}

	.mobile__logo.add-ons {
		justify-content: space-between;
	}

	.mobile__step.add-ons {
		display: flex;
	}

	.gs-checkout-mobile {
		display: none;
		background-color:#f0f8ff;
		box-shadow: 0 0 5px #f2f2f2;
		width: 100vw !important;
		height: auto;
		margin-left: -100%;
		margin-top: 70px;
		padding: 20px;
	}

	.coming-soon__image {
		display: none;
	}

	.coming-soon__button {
		margin-left: 0px;
		margin-top: 10px;
	}

}

@media (max-width: 992px) {
	/*body.is-main .navbar .get-started__step {
		display: none !important;
	}

	body.is-main .navbar .get-started__signin {
		display: none !important;
	}

	body.is-main .navbar .get-started__logo {
		display: none !important;
	}*/

	.navbar-feedback__input {
		width: 100% !important;
	}

	.navbar-profile .dropdown-menu {
		position: relative;
		width: 100%;
		border: none;
		display: block;
	}

	.navbar-profile .dropdown-menu .dropdown-item {
		padding: 5px 0;
	}

	.navbar-collapse {
		padding-bottom: 70px;
		max-height: 100vh;
		overflow-y: auto;
	}

	.help-center__categories {
		flex-direction: column;
	}

	.help-center__category {
		width: 100%!important;
	}

	body.is-main .mobile__logo {
		display: flex;
		align-items: center;
		width: 200px;
		height: 60px;
	}

	.mobile__logo img {
		width: 50px;
		margin-right: 10px;
	}

	.mobile__step h5 {
		font-size: 14px;
		margin: 5px 0 0 0 !important;
		line-height: 0.7;
		font-weight: bold;
	}

	.mobile__step small {
		margin-top: -5px;
	}

	.menu__icon  {
		position: relative;
	}

	.menu__icon img {
		width: 30px;
	}

	.menu__icon:hover{
		cursor: pointer;
	}

	.cart__item-num {
		position: absolute;
		background-color: $primary-color;
		width: 16px;
		height: 16px;
		border-radius: 50px;
		color: #fff;
		font-size: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 0px;
		right: 0px;
	}
}

// ---------------------------------------------------------------------- //
//
// CLASSES THAT DAN ADDED AFTER 9 Jun
//
// ---------------------------------------------------------------------- //

.navbar-profile {
	position: relative;
}

.navbar-profile .nav-link {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 3px;
	padding: 3px 7px;
	height: 38px;

	&:hover {
		background-color: rgba(#000000, 5%);
	}
}

.navbar-profile__image {
	display: inline-block;
	vertical-align: middle;
	background: url('img/default-user-logo.svg');
	background-size: cover;
	background-position: center;
	width: 30px;
	height: 30px;
	background-color: #000;
	border-radius: 50%;
	margin-right: 5px;
	margin-left: 10px;
}

.navbar-profile .dropdown-menu {
	left: auto;
	right: 0;
}

.navbar-feedback {
	margin: 0;
}

.navbar-feedback__input {
	//
}

// ---------------------------------------------------------------------- //

#menu-humburger {
	position: relative;
	width: 60px;
	height: 45px;
	margin-right: -16px;
	-webkit-transform: rotate(0deg) scale(0.5, 0.5);
	-moz-transform: rotate(0deg) scale(0.5, 0.5);
	-o-transform: rotate(0deg) scale(0.5, 0.5);
	transform: rotate(0deg) scale(0.5, 0.5);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	outline: none;
}

#menu-humburger span {
	display: block;
	position: absolute;
	height: 9px;
	width: 100%;
	background: #2c58ff;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

#menu-humburger span:nth-child(1) {
	top: 0px;
}

#menu-humburger span:nth-child(2), #menu-humburger span:nth-child(3) {
	top: 18px;
}

#menu-humburger span:nth-child(4) {
	top: 36px;
}

#menu-humburger.is-open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}

#menu-humburger.is-open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#menu-humburger.is-open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#menu-humburger.is-open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}

// ---------------------------------------------------------------------- //

.registration-form {
	position: relative;
}

.registration-form p {
	position: absolute;
	top: -20px; left: 3px;
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #e31414;
	padding-left: 0;
	opacity: 0.7;
	transition: opacity 0.3s;
}

.registration-form p.is-hidden {
	opacity: 0.0;
}

.registration-form .registration-form__input {
	box-sizing: border-box;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	max-width: 300px;
	opacity: 1.0;
	transition: width .5s ease-in-out, border .5s, padding .5s ease-in-out, opacity .5s ease-in-out;
}

.registration-form .registration-form__button {
	position: relative;
	transition: border-radius 0.5s;

	&::before {
		display: inline-block;
		content: '';
		background-image: url('img/ellipsis.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 30px 30px;
		position: absolute;
		top: 0; right: 0; left: 0;
		height: 100%;
		padding: 1rem 0;
		line-height: 1.5rem;
		visibility: hidden;
		text-align: center;
		color: transparent;
		transition: color 0.3s;
	}
}

.registration-form.is-big {
	.registration-form__input {
		box-sizing: border-box;
		font-size: 20px;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
		height: 50px;
	}

	.registration-form__button {
		font-size: 20px;
		padding: 10px 20px;
		border-radius: 2px;
		border: 0 !important;
		background-color: $primary-color;
		box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
	}
}

.registration-form.is-large {
	.registration-form__input {
		box-sizing: border-box;
		font-size: 25px;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
		height: 67px;
	}

	.registration-form__button {
		border: 0;
		padding: 15px 50px;
		font-size: 25px;
		border-radius: 2px;
		background-color: $primary-color;
		box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
	}
}

.registration-form.is-white {
	p {
		color: #ffffff;
	}

	.registration-form__input {
		border: 0;
	}

	.registration-form__button {
		background-color: #ffffff;
		color: $primary-color;

		&:active {
			background-color: darken(#ffffff, 20%);
			color: $primary-color;
		}

		&::before {
			background-image: url('img/ellipsis.blue.svg');
		}
	}
}

.registration-form:not(.is-closed) .registration-form__button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.registration-form.is-loading .registration-form__button {
	color: transparent;
	transition: color 0s;

	&::before {
		color: #ffffff;
		visibility: visible;
	}

	* {
		visibility: hidden;
	}
}

.registration-form.is-closed .registration-form__input {
	width: 0;
	padding: 0;
	border: 0;
	opacity: 0.0;
	padding: 10px 0;
}

.registration-form.is-vertical {
	.registration-form__input {
		display: block;
		border-radius: 2px;
		max-width: none;
		width: 100%;
	}

	.registration-form__button {
		display: block;
		border-radius: 2px;
		box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
		margin-top: 10px !important;
	}
}

// ---------------------------------------------------------------------- //
//
// - popover
//
// ---------------------------------------------------------------------- //

.popover {
	min-width: 200px;
	z-index: 1030;
	font-family: 'Gudea', sans-serif;
	margin-bottom: 0;
}

.popover-header {
	padding: 10px 39px;
	margin: 0 0;
	border-bottom: 1px solid #f2f2f2;
	background-color: transparent;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.popover-header__title {
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 30px;
	color: darken(#ffffff, 60%);
}

.popover-header__back-button {
	position: absolute;
	top: 5px;
	left: 6px;
	display: block;
	box-sizing: content-box;
	width: 32px;
	height: 32px;
	padding: 0 0 1px 0;
	text-align: center;
	font-size: 24px;
	line-height: 30px;
	color: #939698;
	border-width: 0;

	&:focus {
		box-shadow: none;
	}
}

.popover-header__close-button {
	position: absolute;
	top: 5px;
	right: 6px;
	display: block;
	box-sizing: content-box;
	width: 32px;
	height: 32px;
	padding: 0 0 1px 0;
	text-align: center;
	font-size: 24px;
	line-height: 30px;
	color: #939698;
	border-width: 0;

	&:focus {
		box-shadow: none;
	}
}

.popover-content {
	padding: 10px 15px;

	&.has-footer {
		margin-bottom: 10px;
		border-bottom: 1px solid #f2f2f2;
	}
}

.popover.bs-popover-top .popover-content {
	overflow-y: auto;
	max-height: calc(100vh - 64px);
}

.popover.has-no-scroll .popover-content {
	overflow-y: visible;
}

.popover-page:not(.is-shown) {
	display: none;
}

.popover-list {

}

.popover-list-item {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 7px 15px;
	margin: 0 -15px;
	color: #939698;

	&:hover {
		text-decoration: none;
		background-color: rgba(0, 0, 0, 0.05);
		color: darken(#939698, 2%);
	}

	&::after {
		display: block;
		content: '';
		position: absolute;
		top: 4px; right: 4px;
		width: 26px;
		height: 30px;
		text-align: center;
		visibility: hidden;
	}

	&.is-selected::after {
		background-image: url('img/check-mark.grey.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 12px;
	}

	&.is-loading::after {
		background-image: url('img/ellipsis.grey.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 18px;
		opacity: 0.7;
	}

	&.is-selected,
	&.is-loading {
		padding-right: 30px;
	}

	&.is-selected::after,
	&.is-loading::after {
		visibility: visible;
	}

	&.is-disabled {
		cursor: default;
		opacity: 0.5;
		pointer-events: none;
	}
}

.popover-list-item__value {
	float: right;
}

.popover-list-separator {
	margin: 3px 0;
}

// ---------------------------------------------------------------------- //
//
// .modal
//
// ---------------------------------------------------------------------- //

.modal {
	z-index: 1041;
}

.modal.right .modal-dialog {
	position: fixed;
	margin: auto;
	min-width: 320px;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
	height: 100%;
	overflow-y: auto;
	border-width: 0;
	border-radius: 0;
}

.modal.right .modal-body {
	padding: 80px 15px 15px;
}

.modal.right.fade .modal-dialog {
	right: -100%;
	-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, right 0.3s ease-out;
	-o-transition: opacity 0.3s linear, right 0.3s ease-out;
	transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
	right: 0;
}

.modal__close-button {
	position: absolute;
	top: 11px; right: 11px;
	z-index: 1;
	display: block;
	box-sizing: content-box;
	width: 32px;
	height: 32px;
	padding: 0 0 1px 0;
	text-align: center;
	font-size: 24px;
	line-height: 30px;
	color: #939698;
	border-width: 0;

	&:focus {
		box-shadow: none;
	}

	&::before {
		background-image: url('img/ellipsis.grey.svg');
		background-size: 20px;
	}
}

// .modal-header {
// 	padding: 15px;
// 	padding-right: 45px;
// }

// .modal-body {
// 	padding: 15px;
// }

// ---------------------------------------------------------------------- //
//
// .slideup
//
// ---------------------------------------------------------------------- //

.slideup {
	position: fixed;
	z-index: 100;
	top: 0; right: 0; bottom: 0; left: 0;
	padding-top: 65px + 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 315px + 10px;
	opacity: 0.0;
	visibility: hidden;
	transition: opacity 0.25s ease, visibility 0.25s ease;
	background-color: rgba(#000000, 20%);
	overflow: hidden;
}

.slideup.is-shown {
	opacity: 1.0;
	visibility: visible;
	transition: opacity 0.25s ease, visibility 0.25s ease;
}

.slideup-background {
	position: absolute;
	z-index: 0;
	top: 0; right: 0; bottom: 0; left: 0;
}

.slideup-content {
	display: inline-block;
	vertical-align: top;
	position: relative;
	z-index: 1;
	background-color: darken(#ffffff, 2%);
	height: 100%;
	transform: translateY(100%);
	transition: transform 0.25s ease;
	border-radius: 3px;
	height: 100%;
	overflow: auto;
	max-width: 100%;
}

.slideup.is-shown .slideup-content {
	transform: translateY(0%);
	opacity: 1.0;
	transition: transform 0.25s ease;
}

.slideup__close-button {
	position: absolute;
	top: 20px; right: 20px;
	z-index: 1;
	display: block;
	box-sizing: content-box;
	width: 32px;
	height: 32px;
	padding: 0 0 1px 0;
	text-align: center;
	font-size: 24px;
	line-height: 30px;
	color: #939698;
	border-width: 0;
	background-color: rgba(#000000, 5%);

	&:focus {
		box-shadow: none;
	}
}

.slideup__loader {
	width: 100%;
	height: 100%;
	background-image: url('img/ellipsis.grey.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100px 100px;
	opacity: 0.1;
}

// ---------------------------------------------------------------------- //

#chat-widget-container {
	right: 9px !important;
	bottom: 77px !important;
}

// ---------------------------------------------------------------------- //

.company-information-map {
	background-position: center;
	background-size: cover;
	height: 200px;
	border-radius: 5px;
}

.company-information-phone {
	margin-bottom: 3px;
}

.company-information-address {
	font-size: 15px;
}

.company-information-address p {
	margin-bottom: 3px;
}

// ---------------------------------------------------------------------- //

.jobs-block {
	border: 1px solid darken(#ffffff, 10%);
	border-radius: 5px;
}

.jobs-block-item {
	display: flex;
	justify-content: space-between;

	&:not(:first-child) {
		border-top: 1px solid darken(#ffffff, 10%);
	}
}

.jobs-block-item__title {
	padding: 10px 15px;
	display: flex;
	align-items: center;
}

.jobs-block-item__title img {
	width: 20px; opacity: 0.3;
}

.jobs-block-item__status {
	padding: 10px 15px;
	font-weight: bold;
	color: darken(#2ecc71, 5%);
}

@media (max-width: 567px) {
	.jobs-block-item {
		flex-direction: column;
	}
}

// ---------------------------------------------------------------------- //

.status-block {
	border: 1px solid darken(#ffffff, 10%);
	border-radius: 5px;
}

.status-block-item {
	display: flex;
	justify-content: space-between;

	&:not(:first-child) {
		border-top: 1px solid darken(#ffffff, 10%);
	}
}

.status-block-item__title {
	padding: 10px 15px;
}

.status-block-item__status {
	padding: 10px 15px;
	font-weight: bold;

	&.is-online {
		color: darken(#2ecc71, 5%);
	}
}

.sort-down > img {
    transform: rotate(180deg)
}
