<a href="#" class="[ board-item-member ]" title="<%= member.user.title %>">
    <img src="<%= member.user.image.urls.tiny %>" alt="">
    <span class="[ board-item-member__status ] + <%- member.user.is_online ? 'is-online' : '' %>"></span>
</a>
