<div class="[ board-item__badges ]">
    <% if (task.attachments.length > 0) { %>
        <span class="[ board-item-badge ] + is-attachments" title="Attachments">
            <span class="[ board-item-badge__text ]"><%= task.attachments.length %></span>
        </span>
    <% } %>
    <% if (false) { %>
        <span class="[ board-item-badge ] + is-messages" title="Messages">
            <span class="[ board-item-badge__text ]">2</span>
        </span>
    <% } %>
</div>
