<div class="[ message-panel-attachment-item ]">
	<button class="message-panel-attachment-item__remove-button" href="#"></button>
	<span class="message-panel-attachment-item__title"></span>
	<span class="message-panel-attachment-item__size"></span>
</div>